<nav class="navbar navbar-expand-lg custom-navbar">
  <div class="container-fluid">
    <a class="navbar-brand custom-brand" href="#">Navbar</a>
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item custom-nav-item">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item custom-nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
      <li class="nav-item custom-nav-item">
        <a class="nav-link" href="#">Services</a>
      </li>
    </ul>
    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
      <li class="nav-item custom-nav-item">
        <a class="nav-link signup-link" href="#">Signup</a>
      </li>
      <li class="nav-item custom-nav-item">
        <a class="nav-link signin-link" href="#">Signin</a>
      </li>
    </ul>
  </div>
</nav>
